*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* background-color: #0c022f; */
}
.img-img-logo img{
    width: 13%;
    margin-left: 5px;
    margin-top: 7px;
}

.nav-nav-bar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: -3%;
    margin-left: 7%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* color: #f8e7e7; */
    
}
.fir-fir-h{
    /* background-color: rgb(24, 24, 26); */
    width: 35%;
    height: 60%;
    margin-left: 30%;
    margin-top: 5%;
    position: absolute;
}
.fir-fir-h h1{
    /* color: #f8e7e7; */
    /* position: absolute; */
    margin-top: 10%;
    margin-left: 20%;
}
.fir-fir-h h2{
    margin-left: 45%;
    margin-top: 5%;
    /* color: #f8e7e7; */

}
.fir-fir-h h3{
    margin-left: 55%;
    margin-top: 10%;
    /* color: #f8e7e7; */

}
.fir-fir-h h4{
    margin-left: 75%;
    margin-top: 10%;
    /* color: #f8e7e7; */

}